.Puzzle{
    width: 90vh;
    box-shadow: 0 0 0 2px #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-size: 120%;
    background-position: 0% 50%;
    a{
        position: relative;
        box-shadow: 0 0 0 2px #fff inset;
        background: transparent;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #333;
        text-decoration: none;
        display:flex;
        overflow:hidden;
        text-shadow: 0 0 1px #333, 0 0 1px #fff;
        img{
            box-shadow: 0 0 0 2px #fff inset;
            top:2px;
            left:2px;
            width:calc(100% - 4px);
            height:calc(100% - 4px);
            position: absolute;
            z-index:0;
            opacity:0;
            transition: opacity .3s ease-out;
        }
    }
    a.blanc{
        cursor:pointer;
        background-color: rgba(255,255,255,.5); 
    }
    @media only screen and (max-width: 100vh){
        background-size: cover;
        background-position: 50% 50%;
    }
    @media only screen and (min-width: 100vh){
        a.active{
            img{
                opacity:1;
            }
        }
    }
}

.Puzzle.about{
    a:first-child{
        font-size: 14vh;
        color: rgb(16, 129, 73);
    }
    a{
        width:15vh;
        height:15vh;
    }
    @media only screen and (max-width: 100vh){
        width:48vh;
        a{
            width:12vh;
            height:12vh;
        }
    }
    @media only screen and (min-width: 100vh){
        a.mob{
            display: none;
        }
    }
}
.Puzzle.projet{
    a{
        cursor:pointer;
        width:22.5vh;
        height:22.5vh;
        justify-content: flex-end;
        >span{
            width:100%;
            min-height: 30%;
            background-color: rgba(255,255,255,.5);
            display:flex;
            justify-content: center;
            align-items: center;
            >span{
                margin:5px;
                text-align: center;
            }
        }
    }
    @media only screen and (max-width: 100vh){
        width:46vh;
        a{
            width:23vh;
            height:23vh;
        }
        a.mob{
            width:11.5vh;
            height:11.5vh;
            font-size: 70%;
        }
    }
}