.Page{
    overflow: hidden;
    width:100vw;
    height:100vh;
    position: relative;
    .home{
        position: absolute;
        top: 3vh;
        left:2.5vh;
        z-index: 10000;
        border-radius: 100%;
        width:10vh;
        height: 10vh;
        background: center url(../../assets/img/box.png) rgba(150,150,150,.7) no-repeat;
        background-size:60%;
        cursor: pointer;
        transition: transform .3s;
        transform: scale(0);
    }
}
.Page.parent{
    display:flex;
}
.Page{
    .backflou{
        position: absolute;
        width:100vw;
        height:100vh;
        filter: blur(20px) grayscale(.5);
        transform:scale(1.1);
    }
    .Slide{
        position: relative;
    }
    .blanc{
        background:rgba(255, 255, 255, .5);
    }
}