.lj-bdg{
  height: 45vh;
  overflow: hidden;
  width:24vw;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.lj-bdg:hover{
  opacity:1;
}
.lj-bdg:hover .lj-bdg-info{
  top:-30%;
}
.lj-bdg:hover .arrow{
  transform: scale(1);
}
.lj-bdg>.lj-bdg-image{
  height: 60%;
  overflow: hidden;
}
.lj-bdg>.lj-bdg-info{
  color:#444;
  height: 55%;
  overflow: hidden;
  position:relative;
  top:-15%;
  transition: top .3s;
}
.lj-bdg-title{
  font-weight: 200;
  height: 6.7vh;
  line-height: 9vh;
  font-size: 2vw;
  padding-left: 7px;
  text-shadow: 0 0 2px #fff;
  position: relative;
  z-index:5;
}
.lj-bdg-desc{
  font-size: 1.5vw;
  box-shadow: 0 0 5vh 3vh #fff,0 0 6vh 3vh #fff;
  background: rgb(255,255,255);
  padding: 7px;
  height: 16.5vh;
  position: relative;
  overflow: hidden;
}
.lj-bdg-image>.back{
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}
.lj-bdg-image.anim>.back{
  animation: backanim 200s infinite;
}
.lj-bdg-image>.back>.masque{
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.2);
}
.lj-bdg-desc.logo{
  text-align: center;
}
.lj-bdg .licon{
  width:15%;
  height: auto;
  margin-top:1vh;
}
.lj-bdg .licons{
  text-align: center;
}

.lj-bdg button.licon{
  width:95%;
  height:15vw;
  font-size: 6vw;
  background: none;
  border:2px solid #fff;
  color:white;
}
.lj-bdg .arrow{
  position:absolute;
  bottom:10px;
  width: 20%;
  opacity: .4;
  left:40%;
  transform: scale(0);
  transition: all .2s;
  border-radius: 100%;
  box-shadow: 0 0 20px #bbb inset;
}
.lj-bdg .arrow:hover{
  opacity: 1;
  cursor: default;
}  
@media only screen and (max-width:800px){
  .lj-bdg:hover .lj-bdg-info{
      top:0%;
  }
  .lj-bdg-desc img{
      width:15%;
      height: auto;
  }
  .arrow{
      display:none;
  }
  .lj-bdg-image>.back{
      animation: none;
  }
  .lj-bdg{
      height: 14vh;
      width:95vw;
      overflow: hidden;
      display: flex;
      border-radius: 0px;
  }
  .lj-bdg>.lj-bdg-image{
      width:30%;
      height: 100%;
      overflow: hidden;
  }
  .lj-bdg>.lj-bdg-info{
      height: 100%;
      width:70%;
      overflow: hidden;
      background: #fff;
      top:0;
      padding:0;
      padding-top: 5px;
  }
  .lj-bdg-title,.lj-bdg-desc{
      padding:0 1vw;
  }
  .lj-bdg-title{
      line-height: 5vw;
      height:5vw;
      font-size: 5vw;
      text-shadow: 0 0 2px #fff;
  }
  .lj-bdg-desc{
      font-size: 4vw;
      background: auto;
  }
}

@keyframes backanim{
  12.5%,42.5%,62.5%,87.5%{
      transform: scale(1.2);
      transform-origin: center;
  }
  25%,50%,75%,100%{
      transform: scale(1);
  }
  25% {
      transform-origin: bottom left;
  }
  50%{
      transform-origin: bottom right;;
  }
  75%{
      transform-origin: top right;
  }
  100%{
      background-position: top left;
  }
}
@keyframes backanim2{
  to{top:100%;}
}