.Slide{
    .profil{
        background-size:cover;
        height: 10vh;
        width:10vh;
        margin-right:2.5vh;
        border-radius: 3px;
        box-shadow: 0 0 5px #fff inset;
        position: relative;
        .message{
            position: absolute;
            bottom:0;
            right:100%;
            margin-right: 15px;
            font-size:80%;
            width:100vmin;
            display: flex;
            justify-content: flex-end;
            span{
                background:rgba(255, 255, 255, .5);
                border-radius:2px;
                text-align: center;
                padding:1vmin;
            }
        }
        .message:after{
            content:'';
            position: absolute;
            left:100%;
            bottom:5px;
            border-style: solid;
            border-width: 5px 0 5px 12px;
            border-color: transparent transparent transparent rgba(255, 255, 255, .5);
        }
    }
    .navigation{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height:10vh;
        width:100%;
        a{
            display: flex;
            padding:1vmin 4vmin;
            border: 2px solid rgba(255, 255, 255, .5);
            background: rgba(0,0,0,.2);
            border-radius: 2px;
            color:#fff;
            cursor: pointer;

        }
    }
    .navigation>a:first-child{
        margin-left:2.5vh;
    }
    .navigation>a:last-child{
        margin-right:2.5vh;
    }
}
.Slide.second{
    .navigation{
        justify-content: flex-end;
    }
}
.Slide.last{
    .navigation{
        justify-content: flex-start;
    }
}