.Accueil .lj-full{
  position: relative;
}
.Accueil .homehead{
  height:30vh;
  padding:1vh;
  display: flex;
  justify-content: space-between;
}
  
.Accueil .profilToph{
  box-shadow:0 0 0 .7vh #fff inset;
  border-radius: 100%;
  width:30vh;
  height:30vh;
  background: #888 url(../../assets/img/moi.jpg);
  background-size: cover;
}
.Accueil{
  background-image: url(../../assets/img/cc.jpg);
  background-size: 100% auto;
}
  
.Accueil .about{
  top: 0;
  font-weight: 100;
  height: 30vh;
  width: calc(100% - 45vh);
  text-shadow: 0 0 5px #333;
  color:#333;
  color:white;
  position:relative;
}
.Accueil .about .name{
  font-size: 5vw;
}

.Accueil .about .title{
  font-size: 4vw;
  text-align: center;
}

.Accueil .about .citation{
  font-size: 2.7vw;
  position:absolute;
  right: 1vh;
  text-align: right;
  bottom:0;
  width: 100%;
  color:#333;
  text-shadow: 0 0 5px #fff,0 0 5px #fff;
}
  
.Accueil .plan{
  height:68vh;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background: rgba(255,255,255,.5);
  padding: 0 1vh;
}
.Accueil .backplan{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 2px 2px rgba(255,255,255,.5);
}
.Accueil .backplan>div{
  width: 3px;
  height: 150%;
  position: relative;
  overflow: hidden;
  transform-origin: 0 0;
}
.Accueil .backplan>div.monte>div{
  transform-origin: 50% 50%;
  transform: rotateX(180deg);
}
.Accueil .backplan>div>div{
  width:100%;
  height: 100%;
}
.Accueil .backplan>div>div>div{
  position: absolute;
  left: 0;
  top: -5%;
  width:100%;
  height: 5%;
  background: rgb(46, 138, 243);
}
.Accueil .backplan>div.anim>div>div{
  animation: backanim2 1.5s infinite;
}
@media only screen and (max-width:800px){
  .Accueil .homehead{
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  .Accueil .profilToph{
      width:20vh;
      height:20vh;
  }
  .Accueil .about{
      width:100%;
      text-align: center;
      color:#fff;
      height: auto;
  }
  .Accueil .about .name{
      font-size: 9vw;
  }

  .Accueil .about .title{
      font-size: 7vw;
      text-align: center;
  }

  .Accueil .about .citation{
      display: none
  }
  .Accueil .plan{
      flex-direction: column;
      padding:0;
      justify-content: space-evenly;
      align-items: center;
  }
  .Accueil{
      background-size: cover;
  }
}
  