@import './assets/roboto/roboto.css';

body{
  padding:0;
  margin:0;
  font-family: Roboto;
  color:#333;
  .gg{
    font-weight:bold;
    color:rgb(0, 54, 230);
  }
}

.page,#portfolio{
  width:100vw;
  height:100vh;
  overflow: hidden;
}
#pages {
  touch-action: none;
  height:auto;
  width:100%;
  overflow: hidden;
}