.Slide.reverse{
    flex-direction: column-reverse;
}
.Slide{
    width:100%;
    position: relative;
    .slide-head{
        font-size: 110%;
        text-align: center;
        height: 25vh;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .backflou{
        position: absolute;
        width:100%;
        height:100%;
        filter: blur(20px) grayscale(.5);
    }
    .slide-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:75vh;
        .article{
            text-align: center;
        }
    }
}
.Slide.first{
    .slide-head{
        align-items: center;
        padding:0 1vh;
    }
}